.menu-style {
  width: 20vh;
  display: flex;
  flex-direction: column;
  right: 1rem;
  background-color: #e9ecef;
  text-align: left;
  position: absolute;
  transition: all 0.3s ease-in-out;
  display: flex;
  height: 0;
  overflow: hidden;
  border-radius: 5px;
  .table tbody tr {
    width: 100%;
    display: block;
    padding-top: 0.5rem;
    td {
      width: 100%;
      display: inline-block;
      border: none;
    }
  }

  a {
    color: black;
    text-decoration: none;
    transition: color 0.3s linear;

    &:hover,
    .plus-container:hover {
      color: #007bff;
      .vertical,
      .horizontal {
        background-color: #007bff;
      }
    }
  }

  &.open {
    height: 10vh;
  }
  .drop-down-list-container {
    position: relative;
    .plus-container {
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 0;
    }
  }

  .vertical,
  .horizontal {
    top: 50%;
    position: absolute;
  }
  .vertical {
    transform: rotate(90deg);
  }
  .text {
    position: absolute;
    top: 0;
    left: 2rem;
  }
  .vertical,
  .horizontal {
    width: 1rem;
    height: 0.25rem;
    background-color: black;
    transition: background-color 0.3s linear;
  }
  .vertical {
    transform: rotate(90deg);
  }
}
